{
  "name": "universal-contact-center",
  "description": "Universal Contact Center Backend",
  "memory": 128,
  "role": <LAMBDA ROLE>,
  "runtime": "nodejs",
  "handler": "lib.default",
  "hooks": {
    "build": "../../node_modules/.bin/webpack --config ../../webpack.config.js",
    "clean": "rm -fr lib"
  },
  "environment": {
    "TWILIO_ACCOUNT_SID": <TWILIO_ACCOUNT_SID>,
    "TWILIO_AUTH_TOKEN": <TWILIO_AUTH_TOKEN>,
    "AUTH0_SECRET": <AUTH0_SECRET>
  }
}
